
:root{
    --primary:#9C3D54;
    --secondary: #9C3D54 ;
    --secondary-85:#e26f3ab2;
    --white:#fff;
    --light-grey:#f3f3f3;
    --grey:#ccc;
    --dark-grey:#666;
    --dark2-grey:#333;
    --dark3-grey:#222;
    --black:#000;
    --white-50:rgba(255,255,255,0.5);
    --black-50:rgba(0,0,0,0.5);

}

*::selection {
    background: #9C3D54;
    color: white;  
  }

html{
    font-family: 'Hind Madurai',sans-serif;
    
}

body {
    color:#525252;
    margin:0;
    padding:0;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
    max-width: 120rem !important;
}

h1, h3{
    font-family: 'Monserrat';
}

.display-1 {
    font-size: calc(2.2rem + 4.5vw);
}

h2,h4, h5, h6, p, a{
    font-family: 'Hind Madurai';
}

h1, h2, h3{
    font-weight: 700 !important;
}

h4, h5, h6, p, a{
    font-weight: 350 !important;
}

p{
    margin-top: 5px ;
    margin-left: 0px ;
}
a{
    color: #9C3D54;
}

a:hover{
    color:#c3976f
}

.btn {
    color: var(--white) !important;
    background-color: var(--primary) !important;
}

.btn-edit{
    border-radius: 50% !important;;
    color: var(--white) !important;
    background-color: var(--primary) !important;
}

.btn:hover {
    background-color: #9e485d !important;
    color: white !important;
    transform: scale(1.1) !important;
}

.fa-circle-check{
    color:#9C3D54
    
}
.fa-brands{
    color:#9C3D54
    
}

.background-grey{
    background-color: var(--light-grey);
}

/* ******* Correcciones Bootstrap ******* */
.card{
    background-color: #ffffffa8;
    border: 0;
}

.row > * {
    margin-top: 0;
}

.display-6 {
    font-size: calc(1.2rem + 1.5vw);
}
/* ******* Styles ******* */


/*Heading lines*/

.h3-lines{
    display:inline-block;
    position:relative;
    color:#9C3D54;
  }
  
/* Navbar */
.nav-link:hover{
  transform: scale(1.1) !important;
  color: white !important;
}

/* .barra{
    width: max-content; 
} */

/* Header */

@keyframes mover{
    0%{
        transform:translate(100%);    
}
    100%{
        transform:translate(0%);
    }
}

.body.row{
    margin:0;
}
/* @keyframes colorear{
   0%{color:#9C3D54}
} */

.header {
    min-height: 53rem;
    background-image: url(../../imagenes/_DSC9297.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    width: max-content;
    
}


@media (min-width: 768px){
    .header{
        min-height: 57rem;
    }
}

.header h1{
    color: white;
    padding-bottom: 2rem;
    text-shadow: #310B0B 0.1em 0.1em 0.2em;
}

.header h2{
    color: #EEB76B ;
}

.header-nav{
    background-color: var(--secondary-85);
    text-align: center;
    margin-bottom: 13rem;
}

.bodyrow{
    margin:0;
}

#perfiles{
    color: white;
}
#perfiles:hover{
    transform: scale(1.1) !important;
}

/* Sobre mi  */
#img-retrato {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    transition: all 1s;
} 



#img-retrato:hover{
    border-radius: 50% ;
} 

.card-title {
    margin-bottom: 0.2rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem 0rem;
}
.items-cards {
    flex: 1 1 auto;
    padding: 0.4rem 0.2rem 0.2rem;
}

@media (max-width: 769px) {
    .col-sm-4 {
        float:none;    
        width: 100%;
        text-align: center;
        

    }
    .col-sm-8{
        float:none;    
        width: 100%;
    }
    
}

/*Habilidades*/
#habilidades{
    background-color:rgba(202, 162, 128, 0.892); 
    width: "max-content";
}
.imagen-card{
    display: inline-block;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
}

.imagen-card img{
    mix-blend-mode: multiply;
    filter: grayscale(100%);
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
}


/*Educacion*/
#educacion-retrato{   
    position: relative; 
    margin: 1rem auto;
   /* max-width: 100%;
   height:100%; */
}

.educacion{
    border-radius: 0.25rem;
    box-shadow:  rgba(202, 162, 128, 0.892)0px 4px 12px;
   
}

/*Experiencia*/
#experiencia{
    background-color:rgba(202, 162, 128, 0.892); 
}



/*Projectos*/
.card-height1{
    height: 95%;
}

#proyectos {
    min-height: 40rem;
    background-image: url(../../imagenes/_DSC3440junio_12506.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
}



.item{
    border: 1px #c3976f solid;
    border-radius: 5px;
    box-shadow:2px 2px #bb3b0075;
    background-color:rgba(226, 111, 58, 0.271);
    padding: 2px 6px;
    margin: 5px;
    list-style: none;
    display: inline;
    line-height:33px;
    
}
/*Contacto*/
.fa-lg:hover{      
    font-size: 1.5em;
}
#contacto{
    padding:0;
}

@media (max-width: 769px) {
    .col-sm-3 {
        float:none;    
        width: 25%;
    }
    
    .fa-lg{      
        font-size: 1.8em;
    }
}

/*Footer*/
.footer{
    background-color: hsla(345, 44%, 43%, 0.741);
    padding:0;
}